{% extends "home/layout.html" %}
{% block title %}HomePage{% endblock %}
{% load static %}
{% block content %}
<div style="height: 140vh" id="three">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="table-responsive table">
                    <table class="table">
                        <thead class="table-dark align-middle">
                            <tr>
                                <th scope="col">
                                    <h2>Год</h2>
                                </th>
                                <th scope="col">
                                    <h3>ИСТОРИЯ КОМПАНИИ</h3>
                                    <p>МОТОМ в автомобильном бизнесе с 1996 года</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>
                                        1996 Апрель
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        – Открытие ООО «Мотом» - одного из крупнейших дилеров УАЗ. Реализация более 1000 автомобилей в месяц в городах: Архангельск, Абакан, Чита, Хабаровск, Уссурийск, Южно-Сахалинск, Москва, Челябинск.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2001 март
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        – Заключение договора о субдилерстве с ВАЗ
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2002 Май
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        – Заключение договора об официальном дилерстве ГАЗ
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2003 Сентябрь
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Заключение договора об официальном дилерстве Mitsubishi
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2004 Июль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Старт продаж автомобилей Kia в статусе официального дилера
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2004 Июль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Заключение договора об официальном дилерстве Ford
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2004 Ноябрь
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие официального дилерского центра Hyundai
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                       2006 Февраль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие официального дилерского центра Mitsubishi
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2006 Июль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие официального дилерского центра Peugeot
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2007 Февраль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Старт продаж квадроциклов, снегоходов BRP в статусе официального дилера
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2007 Декабрь
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Старт продаж Volkswagen в статусе официального дилера
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2008 Август
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Старт продаж SKODA в статусе официального дилера
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2012 Май
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие нового шоу-рума официального дилера Volkswagen «Мотом Центр» и SKODA «МТМ-Авто» на Октябрьской 51
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                       2013 Август
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие шоу-рума официального дилера Mercedes-Benz «МОТОМ ПРЕМИУМ» на Московском шоссе 100.1
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2017 Июль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Запуск нового направления – Автомобили с пробегом «Мотом-Автомаркет»
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2018 Март
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Запуск нового направления – Автомобили с пробегом «Мотом-Автомаркет»
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2018 Апрель
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие обновленного шоу-рума официального дилера Hyundai на Московском шоссе 102Б
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2018 Сентабрь
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Начало работы сервисного центра «Белый сервис» на Московском шоссе 102Б
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2023 Июль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Ребрендинг шоу-рума официального дилера SKODA на Октябрьской 51
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2023 Июль
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие нового шоу-рума официального дилера FAW на Октябрьской 51.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2023 Август
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие нового шоу-рума марки JETTA на Октябрьской 51.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2023 Октябрь
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие нового шоу-рума официального дилера МОСКВИЧ на Октябрьской 51.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2023 Ноябрь
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие нового шоу-рума официального дилера MG на Московское шоссе, 100.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        2023 Ноябрь
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        - Открытие нового шоу-рума официального дилера EXEED на Московское шоссе, 102 Б.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}