{% load static %}
<header style="height: 50vh" id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="{% static 'png/auto_market.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/exeed09.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/faw.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/HYUNDAI.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/jetta.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/Mercedes_1.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/MG1924.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/moskvich.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/mtm_drive.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/skoda_service09.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/vw_service09.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
            <div class="col">
                <img src="{% static 'png/white_service.png' %}" alt="" style="height: 50px; width: 50px">
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container-fluid" style="justify-content: flex-start">
            <div class="navbar-brand text-decoration-none col-1" style="color: white">
                <p>
                    <a href="#main" class="text-decoration-none" style="color: white">
                        Главная
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#one" class="text-decoration-none" style="color: white">
                        О компании
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#two" class="text-decoration-none" style="color: white">
                        История
                    </a>
                </p>
            </div>
            <div class="nav-link col-2">
                <p>
                    <a href="#three" class="text-decoration-none" style="color: white">
                        Спец. Предложения
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#four" class="text-decoration-none" style="color: white">
                        Услуги
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#five" class="text-decoration-none" style="color: white">
                        Контакты
                    </a>
                </p>
            </div>
        </div>
    </div>
</header>