{% load static %}
<header style="height: 50vh" id="main">
    <div class="navbar navbar-dark bg-dark fixed-bottom">
        <div class="container-fluid" style="justify-content: flex-start">
            <div class="navbar-brand text-decoration-none col-1" style="color: white">
                <p>
                    <a href="#main" class="text-decoration-none" style="color: white">
                        Главная
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#one" class="text-decoration-none" style="color: white">
                        О компании
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#two" class="text-decoration-none" style="color: white">
                        История
                    </a>
                </p>
            </div>
            <div class="nav-link col-2">
                <p>
                    <a href="#three" class="text-decoration-none" style="color: white">
                        Спец. Предложения
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#four" class="text-decoration-none" style="color: white">
                        Услуги
                    </a>
                </p>
            </div>
            <div class="nav-link col-1">
                <p>
                    <a href="#five" class="text-decoration-none" style="color: white">
                        Контакты
                    </a>
                </p>
            </div>
        </div>
    </div>
</header>