<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HomePage{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
</head>
<body style="background: url({% static 'img/main_bg.jpg' %}) no-repeat; background-size: 100% 95vh;">
{% include 'home/headerNavSection.html' %}
{% block content %}
    {% include 'home/secondSection.html' %}
    {% include 'home/thirdSection.html' %}
    {% include 'home/fourthSection.html' %}
{% endblock %}

</body>
</html>