<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HomePage{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
</head>
<body style="font-family: 'Century Gothic',serif  ">
{% include 'home/headerNavSection.html' %}
{% block content %}
    <div class="container-fluid">
        <div style="background: url({% static '' %})">
            {% include 'home/secondSection.html' %}
        </div>
        <div style="background: url({% static '' %})">
            {% include 'home/thirdSection.html' %}
        </div>
        <div style="background: url({% static '' %})">
            {% include 'home/fourthSection.html' %}
        </div>
        <div style="background: url({% static '' %})">
            {% include 'home/fifthSection.html' %}
        </div>
        <div style="">
            {% include 'home/sixthSection.html' %}
        </div>
    </div>
{% endblock %}
</body>
</html>