{% load static %}

{% block content %}
    <div style="height: 100vh" id="one">
        <div class="container-fluid">
            <div class="row align-items-center align-self-center justify-content-center">
                <div class="col-8">
                    <div class="card">
                        <div class="row g-3">
                            <div class="col-md-5">
                                <img src="{% static 'img/Hyundai.jpg' %}">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="card-title">
                                        <h5>МОТОМ - место, где встречаются автомобили и люди</h5>
                                    </div>
                                    <div class="card-text">
                                        <p>
                                            Автомобильная группа МОТОМ – это команда про­фессионалов с мно­голет­ним опы­том работы, об­ла­даю­щих огромными знаниями в области продаж и об­слу­жи­ва­ния автомобилей иностранного и отечественного производства.
                                            Основная цель компании – постоянное совершенствование, нап­рав­лен­ное на обес­пе­че­ние безупречного качества как продукта, так и услуг.
                                        </p>
                                    </div>
                                    <div class="card-text">
                                        <table class="table table-borderless table-responsive">
                                            <tbody>
                                            <tr style="margin-bottom: 30px">
                                                <td style="background: darkblue; height: 60px; width: 60px">
                                                    <img src="{% static 'img/8.png' %}" style="height: 60px; width:60px" alt="">
                                                </td>
                                                <td>
                                                    <p>
                                                        9 БРЕНДОВ
                                                    </p>
                                                    <p style="font-size: 14px">
                                                        Мы работаем с автомобилями EXEED, FAW, JETTA, Москвич, MG, Hyundai, Mercedes-Benz, Volkswagen, SKODA
                                                    </p>
                                                </td>
                                                <td style="background: darkblue; height: 60px; width: 60px">
                                                    <img src="{% static 'img/10.png' %}" style="height: 60px; width:60px" alt="">
                                                </td>
                                                <td>
                                                    <p>
                                                        Авто с пробегом
                                                    </p>
                                                    <p style="font-size: 14px">
                                                        Легко купить и продать автомобиль с пробегом
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="background: darkblue; height: 60px; width: 60px">
                                                    <img src="{% static 'img/4.png' %}" style="height: 60px; width:60px;" alt="">
                                                </td>
                                                <td>
                                                    <p>
                                                        Кузовной цех
                                                    </p>
                                                    <p style="font-size: 14px">
                                                    <p>
                                                        Центр высоких технологий кузовного ремонта и детейлинга
                                                    </p>
                                                </td>
                                                <td style="background: darkblue; height: 60px; width: 60px">
                                                    <img src="{% static 'img/11.png' %}" style="height: 60px; width:60px" alt="">
                                                </td>
                                                <td>
                                                    <p>
                                                        Мотом сервис
                                                    </p>
                                                    <p style="font-size: 14px">
                                                        Специализированный сервисный центр обслуживания послегарантийных автомобилей
                                                    </p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
