{% load static %}
{% block content %}
<div style="height: 100vh" id="four">
    <div class="container-fluid bg-dark" style="max-width: 1000px">
        <div class="row">
            <div class="col">
                <a href="#auto_market">
                    <img src="{% static 'png/auto_market.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#exeed">
                    <img src="{% static 'png/exeed09.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="##faw">
                    <img src="{% static 'png/faw.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#hyundai">
                    <img src="{% static 'png/HYUNDAI.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#jetta">
                    <img src="{% static 'png/jetta.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#mercedes">
                    <img src="{% static 'png/Mercedes_1.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#mg">
                    <img src="{% static 'png/MG1924.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#moskvich">
                    <img src="{% static 'png/moskvich.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#mtm_drive">
                    <img src="{% static 'png/mtm_drive.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#skoda">
                    <img src="{% static 'png/skoda_service09.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#vw">
                    <img src="{% static 'png/vw_service09.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
            <div class="col">
                <a href="#white_service">
                    <img src="{% static 'png/white_service.png' %}" alt="" style="height: 80px; width: 100px">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
{#         # TODO секции с картами и адресами#}
    </div>
</div>
{% endblock %}